# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore audio processing output
wav_clean/
wav_processed/

# Ignore large datasets or temporary files
cv-corpus-24.0-2025-12-05/
k9sxg2twv4-4/mp3/

# Ignore system files
.DS_Store

# Ignore virtual environment
venv/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore other unnecessary files
*.bak
*.swp